# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.KotP_Basics.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\akrau\OneDrive\Desktop\WiSe21\Unity\KotP_Basics\KotP_Basics\.idea\.idea.KotP_Basics\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
